html {
  box-sizing: border-box;
  background-color: #525286;
}

.root {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.hero {
  position: relative;
  width: 100%;
  top: 35%;
  text-align: center;
  color: #A8A0FF;
  font-size: 15px;
}

.footer {
  position: relative;
  color: #A8A0AF;
  font-style: italic;
  font-size: 11px;
  text-align: center;
  top: 85%;
}